@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using GamesApp.Models;
@using GamesApp.Services;
@using System.Collections;
@using System.Collections.Generic;
@using System.Text.Json;
@inject JsonFileCardService CardService
@inject JsonFilePlayerService PlayerService

<div class="container player-list mb-2">
    <div class="row justify-content-md-center">
        @foreach (var player in PlayerService.GetPlayers())
        {
            <div class="col col-lg-3 text-center">
                <h4>Player 1: @player.UserName</h4>
            </div>
            <div class="col col-lg-3 text-center">
                <h4>Score: @player.Score</h4>
            </div>
            <div class="col col-lg-3 text-center">
                <button class="btn btn-shuffle" @onclick="e => ResetCards()">New Game</button>
            </div>

        }
    </div>
</div>

<div class="container-fluid wrapper deck mb-5">
    @foreach (var card in CardService.GetCards().OrderBy(card => card.Order))
    {
        <div class="@RenderMatchedClasslist(card.Code, card.Clickable)" data-value="@card.Value" data-code="@card.Code" @onclick="e => FlipCard(card)">
            <div class="faces">
                <div class="@RenderFaceCardClasslist(card.Code, card.Visible)"><img src="@card.FrontImage" /></div>
                <div class="face back backon"></div>
            </div>
        </div>
    }

</div>

@code {
    string selectedCardValue;
    List<string> hideImgClasslist = new List<string>(new string[] { "face", "front", "hide" });
    List<string> memoryCardClasses = new List<string>(new string[] { "memory-card", "matched" });
    List<string> frontImgClasses = new List<string>();
    string Message { get; set; }
    List<Card> clickedCards = new List<Card>();

    void FlipCard(Card card)
    {
        selectedCardValue = card.Value;
        frontImgClasses.Clear();
        int pointsEarned = 0;

        var selected = CardService.GetCards().First(x => x.Code == card.Code);

        //set Visibility of card
        foreach (string cls in selected.Visible)
        {
            frontImgClasses.Add(cls);
        }

        if (frontImgClasses.Contains("hide"))
        {
            frontImgClasses.Remove("hide");
        }
        else
        {
            frontImgClasses.Add("hide");
        }


        //update card face class list for visibility
        RenderFaceCardClasslist(selected.Code, frontImgClasses);
        //update card visibility in db
        CardService.updateVisibilty(selected.Code, frontImgClasses);

        //update player score in db
        PlayerService.updatePlayerScore("One", pointsEarned);

        //see if match, adjust score and clear after 2 cards flipped
        clickedCards.Add(selected);
        if (clickedCards.Count == 2)
        {
            if(clickedCards[0].Code == clickedCards[1].Code)
            {
                clickedCards.Remove(clickedCards[1]);
                return;
            }
            var firstCardValue = clickedCards[0].Value;
            var secondCardValue = clickedCards[1].Value;

            if (firstCardValue == secondCardValue)
            {
                pointsEarned += 5;
                List<string> matchedImgClasslist = new List<string>(new string[] { "face", "front", "matched" });
                foreach (var matchedcard in clickedCards)
                {
                    CardService.updateVisibilty(matchedcard.Code, matchedImgClasslist);
                    CardService.updateClickable(matchedcard.Code, memoryCardClasses);

                }
            }
            // make matched card unclickable
            RenderMatchedClasslist(card.Code, memoryCardClasses);

            //update player score in db
            PlayerService.updatePlayerScore("One", pointsEarned);

        }

        //hide all cards once clicked array count is at 2

        if (clickedCards.Count == 2)
        {
            clickedCards.Clear();
            HideAllCards();

        }

    }

    private void ResetCards()
    {
        List<string> resetMemoryCardClasses = new List<string>(new string[] { "memory-card" });
        foreach (var card in CardService.GetCards())
        {
            CardService.updateVisibilty(card.Code, hideImgClasslist);
            CardService.updateClickable(card.Code, resetMemoryCardClasses);
            CardService.updateCardOrder();
        }

        PlayerService.updatePlayerScore("One", -1);

    }


    private string RenderMatchedClasslist(string code, List<string> list)
    {

        var matchedCardClasslist = string.Join(" ", list);

        matchedCardClasslist += $" {code}";

        return matchedCardClasslist;
    }

    private string RenderFaceCardClasslist(string code, List<string> list)
    {
        var faceCardClasslist = string.Join(" ", list);

        faceCardClasslist += $" {code}";

        return faceCardClasslist;
    }

    async void HideAllCards()
    {
        await Task.Delay(1);
        foreach (var card in CardService.GetCards())
        {
            if (card.Clickable.Contains("matched"))
            {
                continue;
            }
            CardService.updateVisibilty(card.Code, hideImgClasslist);
        }
    }

}