@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using GamesApp.Models;
@using GamesApp.Services;
@inject JsonFileCardService CardService;

<div class="container-fluid text-center">@Message</div>
<div class="container-fluid wrapper deck mb-5">
    @foreach (var card in CardService.GetCards().OrderBy(card => card.Order))
    {
        <div class="memory-card" data-value="@card.Value" data-code="@card.Code" data-target="#cardModal" data-toggle="modal" @onclick="(e => SelectCard(card))">
            <div class="faces">
                <div class="@card.Visible @visibility"><img src="@card.FrontImage" /></div>
                <div class="face back backon"></div>
            </div>
        </div>
    }
    
</div>

@code {
    string selectedCardValue;

    string visibility = "hide";

    string Message { get; set; }

    void SelectCard(Card card)
    {
        selectedCardValue = card.Value;

        if(visibility == "hide")
        {
            visibility = "";
        }
        else
        {
            visibility = "hide";
        }


        Message = selectedCardValue;
    }
}